<template>
  <div class="container">
    <div class="box-left">
      <div class="card">
        <div class="card-header">
          <p class="title" id="teste">SALDO</p>
        </div>
        <div class="saldo">
          <p class="content">R$ {{(Math.round(saldo*100)/100).toFixed(2)}}</p>
        </div>
      </div>
      <div class="buttons-group">
        <button @click="[show(), action = 'adicionar']">Adicionar</button>
        <button @click="[show(), action = 'debitar']">Debitar</button>
      </div>
    </div>

    <div class="box-right">
      <div class="card">
        <div class="card-header">
          <p class="title">EXTRATO DE MOVIMENTAÇÃO</p>
        </div>
        <div class="extract">
          <div v-for="(valor, chave) in movimentacoes" v-bind:key="chave">
            <div class="date">
              <p>{{valor.date}}</p>
            </div>
            <div
              class="date-content"
              v-for="(movimentacao, chave) in valor.movimentacaoDia"
              :key="chave"
            >
              <p>
                <img v-if="movimentacao.operacao === 'adicionar'" src="./../assets/plus.png" alt>
                <img v-else src="./../assets/minus.png" alt>
                R$ {{movimentacao.valor}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal crédito/débito -->
    <modal name="modal" height="auto">
      <div class="title-modal">
        <h2>Nova Transação</h2>
      </div>
      <div class="content-modal">
        <label for="valor">Valor:</label>
        <input
          v-model="valor"
          type="number"
          pattern="[0-9]{1,5}"
          onkeyup="this.value=this.value.replace(/,/g,\'.\')"
        >
        <br>
      </div>
      <div class="button-modal">
        <button @click="calc">Registrar</button>
        <button @click="hide">Fechar</button>
      </div>
    </modal>
  </div>
</template>

<script>
import Mixin from './Mixin.js';

export default {
  name: 'cards',
  mixins: [Mixin],
  data() {
    return {
      action: '',
      saldo: Number(localStorage.getItem('saldo')),
      movimentacoes: JSON.parse(localStorage.getItem('movimentacoes')),
      valor: 0
    };
  },
  methods: {
    async show() {
      try {
        await this.$modal.show('modal');
      } catch (error) {
        // continue regardless of error
      }
    },
    async hide() {
      try {
        await this.$modal.hide('modal');
      } catch (error) {
        // continue regardless of error
      }
    }
  }
};
</script>
