<template>
  <div id='app'>
    <cards></cards>
  </div>
</template>
<script>
import Cards from './components/Cards.vue';

export default {
  name: 'app',
  components: {
    Cards
  }
};
</script>
<style src='./style.css'></style>
