.content-modal {
  padding: 20px;
}

.title-modal h2 {
  text-align: center;
}

.button-modal {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 30px;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #252e68;
}

p {
  font-size: 18px;
  margin-top: 0;
}

.container {
  margin: 0 20%;
}

.box-left {
  width: 100%;
}

.box-right {
  width: 100%;
}

.card {
  border: #ebebeb 1px solid;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card .card-header {
  background-color: #6366ad;
  min-height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
}

.card .card-header .title {
  font-size: 20px;
  padding: 20px;
}

.card .saldo .content {
  text-align: right;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border-right: 6px solid #6366ad;
}

.card .extract {
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}
.card .extract .date {
  padding: 20px;
  border-right: 6px solid #6366ad;
}

.card .extract .date p {
  font-weight: bold;
  text-align: right;
  margin-top: 5px;
}

.card .extract .date img {
  float: right;
}

.date-content {
  padding-right: 12%;
  text-align: right;
}

.buttons-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  border: 1px solid #252e68;
  background-color: #252e68;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}

input {
  padding: 5px
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 768px) {
  .box-left {
    width: 35%;
    float: left;
    margin: 10px;
  }

  .box-right {
    width: 50%;
    float: left;
    margin: 10px;
  }
}